<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<div style="text-align:center">
  <button mat-raised-button (click)="display_schedule()">Display Schedule</button>
</div>

<div style="text-align:center">
  <button mat-raised-button (click)="reset()">Reset</button>
</div>

<div style="text-align:center">
  <button mat-raised-button (click)="spawn_worker()">Spawn Web Worker</button>
</div>


<p-schedule>
</p-schedule>
